asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1671589829431/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1680693679482/work
django-environ==0.10.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
PyJWT==2.6.0
pytz==2023.3
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1663990453245/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
